{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}

    Novo Preparo - {{ block.super }}

{% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1>Lista de Preparos</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Dirigente</th>
                    <th scope="col">Assistente</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <th scope="row">{{ object.id }}</th>
                    <td>{{ object.data_inicio }}</td>
                    <td>{{ object.dirigente }}</td>
                    <td>{{ object.assistente }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </div>
    </div>
</div>

{% endblock%}